{# templates/Bird/bird.html.twig #}

{% extends "layout.html.twig" %}

{% block title %}{% if bird.vernacularname == false %}{{ bird.validname }} {% else %} {{ bird.vernacularname }} {% endif %}{% endblock %}
{% block mapStylesheets %} 
	{{ parent() }}
	<style type="text/css">
			#map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
				height:400px;
				position: sticky !important;
			}
		</style>
{% endblock %}

{% block body %}
	<div id="map" data-identifiant={{ bird.id }}>
	</div>
	<div class="btn-container-retour">
	<button class="btn-retour" type="submit" onclick="history.back()">Retour</button>
	</div>
	<section class="global-page-observation">
		<div class="container-partie-1-2">
		<div class="container-partie1">
		<p class="image-bird">{% if bird.imageThumbnail is not null %}
					<img src="{{ bird.imageThumbnail }}" alt="">
                {% else %}
					<img src="{{ asset('default/bird_default.jpg') }}" alt="">
                {% endif %}</p>
		</div>
		<div class="container-partie-2 bird-2">
		<h1>{% if bird.vernacularname == false %}{{ bird.validname }} {% else %} {{ bird.vernacularname }} - {{ bird.validname }}{% endif %}</h1>
		<p>Règne : {{ bird.reign }}</p>
		<p>Classe : {{ bird.class }}</p>
		<p>Ordre : {{ bird.birdOrder }}</p>
		<p>Famille : {{ bird.family }}</p>
		</div>
		</div>
	</section>
{% endblock %}

{% block mapJavascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('javascript/maps/showmap.js') }}"></script>
{% endblock %}