{% extends "layout.html.twig" %}

{% block title %} Répertoire {% endblock %}

{% block body %}
	<h1>Répertoire</h1>
	<section>
		<a href="{{ path('repertory') }}">All</a> {% for l in 'a'..'z' %} | <a href="{{ path('repertory_by_letter', {'letter': l}) }}">{{l}}</a> {% endfor %}

		<form action="{{ path('repertory') }}" method="post">
			<select name="letter" id="letter">
				<option disabled selected value="">Lettre</option>
            	{% for l in 'a'..'z' %}
					<option value="{{ l }}">{{ l }}</option>
            	{% endfor %}
			</select>
			<select name="region" id="region">
				<option disabled selected value="">Région</option>
                {% for region in regions %}
					<option value="{{ region.nom|lower }}">{{ region.nom }}</option>
                {% endfor %}
			</select>
			<button type="submit">Rechercher</button>
		</form>
	</section>
    {% if birds is defined %}
        {% for bird in birds %}
			<div>
				<a href="{{ path('bird', {id: bird.id}) }}">
                    {% if bird.vernacularname == false %}
                        {{ bird.validname|convert_encoding('UTF-8', 'iso-2022-jp') }}
                    {% else %}
                        {{ bird.vernacularname|convert_encoding('UTF-8', 'iso-2022-jp') }} - {{ bird.validname }}
                    {% endif %}
				</a>
                {% if bird.imageThumbnail is not null %}
					<img src="{{ bird.imageThumbnail }}" alt="">
                {% else %}
					<img src="{{ asset('default/bird_default.jpg') }}" alt="">
                {% endif %}
			</div>
        {% endfor %}
    {% endif %}
		<div class="pagination-repertoire">
			<ul>
				{% if nbRepertoryPages  > 1 %}
					{% if previousPage > 0 %}
					<p> 
						{% if letter is defined %}
							<a href="/repertoire/{{letter}}/{{previousPage}}"> << </a> 
						{% elseif region is defined  %}
							<a href="/resultat-recherche-oiseaux/{{region}}/{{previousPage}}"> << </a> 
						{% else %}
							<a href="/repertoire/{{previousPage}}"> << </a> 
						{% endif %}
					</p>
				{% endif %}
				{% for i in 1..nbRepertoryPages %}
					{% if i == 1 or ((page-5) < i and i < (page + 5)) or i == nbRepertoryPages %} 
	   						{% if i == nbRepertoryPages and page < (nbRepertoryPages - 5) %} 
	   							<p> ... </p>
	   						{% endif %}
							<li {% if page == i %} class="active" {% endif %}>
							{% if letter is defined %}
   								<a href="/repertoire/{{letter}}/{{i}}"> {{i}} </a>
   							{% elseif region is defined  %}
								<a href="/resultat-recherche-oiseaux/{{region}}/{{i}}"> {{i}} </a> 
   							{% else %}
								<a href="/repertoire/{{i}}"> {{i}} </a> 
							{% endif %}
	   					</li>
	   					{% if i == 1 and page > 6 %} 
	   						<p> ... </p>
	   					{% endif %}
	   				{% endif %}
				{% endfor %}
	    		<p>
	    			{% if nextPage <= nbRepertoryPages %}
	    				{% if letter is defined %}
	    					<a href="/repertoire/{{letter}}/{{nextPage}}"> >> </a>
	    					{% elseif region is defined  %}
							<a href="/resultat-recherche-oiseaux/{{region}}/{{nextPage}}"> >> </a> 
    					{% else %}
							<a href="/repertoire/{{nextPage}}"> >> </a> 
						{% endif %}
	   				{% endif %}
	   			</p> 
	   		{% endif %}
		</ul>
	</div>
{% endblock %}

{% block javascripts %}{% endblock %}