

{# templates/AdminSpace/publishedCommentsModel.html.twig #}

<section class="content-shared-admin">
    <h2 class="h2-comment-shared">
    	{% if numberOfPublishedComments <= 1 %}
    		{{numberOfPublishedComments}}  commentaire publié :
    	{% elseif numberOfPublishedComments > 1 %}
    		{{numberOfPublishedComments}}  commentaires publiés :
    	{% endif %}
    </h2>
</section>
{% for publishedcomment in publishedcomments %}
	<section class="content-shared-admin">
		<p class="comment-text-admin">{{ publishedcomment.content }}</p>
		<ul class="comment-data-admin">
			<li>
				<a href="{{ path('capture', {id: publishedcomment.capture.id}) }}">Observation {{ publishedcomment.capture.id }}</a>
			</li>
			<li>
				{{ publishedcomment.createdDate|date('d/m/Y') }}
			</li>
			<li>
				{{ publishedcomment.author.firstname }} {{ publishedcomment.author.lastname }}
			</li>
		</ul>
	</section>
	<section class="comment-admin-buttons">
		<form action="{{ path('remove_comment', {id:  publishedcomment.id}) }}" method="get">
			<button type="submit" class="red-button">Supprimer</button>
		</form>
	</section>
{% endfor %}









