{% extends "layout.html.twig" %}

{% block title %} Espace d'administration - Commentaires publiés {% endblock %}
{% block stylesheets %} {% endblock %}
{% block body %} 
	<h1 class="t-index-4">Espace administration</h1>
	<span class="s-t-index-4"></span>
	<h2 class="subtitle-admin">Commentaires publiés</h2>

	<section>
		{{ include('admin/publishedCommentsModel.html.twig')}}
		<div class="nav-content-admin">
			{% if  nbPublishedCommentsPages > 1 %}
				<p> 
					<a href="{{ path('admin_space') }}"> Retour </a> 
				</p>
				{% if previousPage > 1 %}
				<p> 
					<a href="{{ path('admin_space_published_comments', {page: previousPage}) }}"> << </a> 
				</p>
				{% endif %}
				{% for i in 2.. nbPublishedCommentsPages %}
					<ul>
						<li {% if page == i %} class="active" {% endif %}>
   							<a href="{{ path('admin_space_published_comments', {page: i}) }}"> {{i}} </a>
   						</li>
   					</ul>
   				{% endfor %}
    			<p>
    				{% if nextPage <=  nbPublishedCommentsPages %}
    					<a href="{{ path('admin_space_published_comments', {page: nextPage}) }}"> >> </a>
    				{% endif %}
    			</p> 
    		{% endif %}
		</div>
	</section>
{% endblock %}
{% block javascripts %} {% endblock %}