{{ form_start(change_password_form) }}

{{ form_label(change_password_form.new_password.first) }}
{{ form_errors(change_password_form.new_password.first) }}
{{ form_widget(change_password_form.new_password.first) }}

{{ form_label(change_password_form.new_password.second) }}
{{ form_errors(change_password_form.new_password.second) }}
{{ form_widget(change_password_form.new_password.second) }}

<button type="submit">Mettre à jour mon mot de passe</button>
{{ form_end(change_password_form) }}