{% extends "base.html.twig" %}

{% block body %}
    <h1 class="t-index-2"> Réinitialisation mot de passe</h1>
    <span class="s-t-index-2"></span>

    <div class="container-f-login">
    <div class="form-login">
    {{ form_start(form, {'attr': {'class': "b-form-login" }}) }}
    {{ form_errors(form) }}
    {{ form_label(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn-lost">Réinitialiser mon mot de passe</button>
    {{ form_end(form) }}
    </div>
    </div>
{% endblock %}