<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href= "{{ asset('css/materializze-src/sass/materialize.css') }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Nos Amis les Oiseaux - {% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block mapStylesheets %}{% endblock %}
    </head>
    <body>
    {% for flashMessage in app.session.flashbag.get('error') %}
        {{ flashMessage }}
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        {{ flashMessage }}
    {% endfor %}
    <nav role="navigation" class="navigation">
        <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('repertory') }}">Répertoire</a></li>
            <li><a href="{{ path('captures') }}">Observations</a></li>
            <li><a href="{{ path('add_capture') }}">Ajouter une observation</a></li>
            <li><a href="{{ path('statistics') }}">Quelques données</a></li>
            <li><a href="{{ path('contact') }}">Contact</a></li>
            {% if is_granted('ROLE_NATURALIST') %}
                <li><a href="{{ path('admin_space') }}">Administration</a></li>
                <li><a href="{{ path('user_account') }}">Mon compte</a></li>
                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
            {% elseif is_granted('ROLE_USER') %}
                <li><a href="{{ path('user_account') }}">Mon compte</a></li>
                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ path('login') }}">Connexion</a></li>
                <li><a href="{{ path('register') }}">Inscription</a></li>
                <li><a href="{{ path('lost_password') }}">Mot de passe perdu</a></li>
            {% endif %}
        </ul>
        </div>
    </nav>
        {% block body %}{% endblock %}
    {% block jquery %}{% endblock %}
    {% block mapJavascripts %}{% endblock %}
    {% block paginationJavascripts %}{% endblock %}
    {% block javascripts %}{% endblock %}
    </body>
</html>
